*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  width: 90vw;
  margin: 5rem auto;
  background: #ffffff;
  border-radius: 0.25rem;
  padding: 2rem 2rem;
  max-width: 920px;
}

.btn{
  background: #edebed;
  border: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.btn:hover{
  background: rgb(174, 173, 170);
}

.content{
  padding: 1rem 1.5rem;
  border: 2px solid #eae6;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content p{
  color: purple;
}

.container h1{
  text-align: center;
  margin-bottom: 20px;
}

